@charset "utf-8";
/* CSS Document */
.nodeHeightTable
{
	height: 40px; display: table; list-style-type: none; overflow: hidden;
}
.greybg
{
	background-color: #EBEBEB; color:#77787B; padding-top: 9px; padding-bottom: 9px;    
}
.nodeText
{
	float: left; padding-left: 10px; padding-right: 25px; color: #8EAFBF; font-size: 14px;
}
.nodeClose
{
	float: left; padding-left: 0px; padding-right: 20px; color: #8EAFBF; font-size: 14px;
}
.clearAll
{
	clear: both;
}

div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; height: 50px; overflow:auto; width:180px}
div.tagsinput span.tag { border: 1px solid #EBEBEB; -moz-border-radius:2px; -webkit-border-radius:2px;  float: left; padding: 5px; text-decoration:none; background: #EBEBEB; color: #77787B; margin-right: 5px; margin-bottom:5px;font-family: arial;  font-size:13px;}

div.tagsinput span.tag a { font-weight: bold; color: #77787B; text-decoration:none; font-size: 11px;  } 

div.tagsinput input { margin:0px; font-family: helvetica; font-size: 13px; border:1px solid #EBEBEB; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
