
/****** Object:  StoredProcedure [dbo].[CreateDMMoleculeConcat]    Script Date: 04-Dec-17 3:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CreateDMMoleculeConcat]

AS
BEGIN
	SET NOCOUNT ON;

	IF OBJECT_ID('dbo.DMMoleculeConcat') IS NOT NULL DROP TABLE DMMoleculeConcat
	select FCC, substring([Description], 4, 5000) [Description] 
	into DMMoleculeConcat
	from
	(
		SELECT 
			b.FCC, 
			(SELECT DISTINCT ' | ' + a.Description
			FROM DMMolecule a
			WHERE a.FCC = b.FCC --order by Description
			FOR XML PATH('')) [Description]
		FROM DMMolecule b
	GROUP BY b.FCC
	)A

END









GO
/****** Object:  StoredProcedure [dbo].[GENERATE_DIM_MOLECULE]    Script Date: 04-Dec-17 3:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GENERATE_DIM_MOLECULE]
AS
BEGIN

declare @count int
select @count=count(*) from [dbo].[RAW_TDW-ECP_DIM_MOLECULE]

if @count > 0 
begin
	UPDATE [dbo].[RAW_TDW-ECP_DIM_MOLECULE]
	SET SYNONYM=0
	WHERE SYNONYM IS NULL

	UPDATE [dbo].[RAW_TDW-ECP_DIM_MOLECULE]
	SET PARENT=0
	WHERE PARENT IS NULL

	MERGE [dbo].[DMMolecule] AS TARGET
	USING [dbo].[RAW_TDW-ECP_DIM_MOLECULE] AS SOURCE
	ON (TARGET.FCC=SOURCE.FCC AND TARGET.[MOLECULE]=SOURCE.[MOLECULE])
	WHEN MATCHED
	THEN
	UPDATE SET TARGET.CHANGE_FLAG =
		CASE
			WHEN CAST(TARGET.[FCC] AS VARCHAR(30))+' '+CAST(TARGET.[MOLECULE] AS VARCHAR(30))+' '+TARGET.[DESCRIPTION]=CAST(SOURCE.[FCC] AS VARCHAR(30))+' '+CAST(SOURCE.[MOLECULE] AS VARCHAR(30))+' '+SOURCE.[DESCRIPTION]
			THEN 'U'
			WHEN CAST(TARGET.[FCC] AS VARCHAR(30))+' '+CAST(TARGET.[MOLECULE] AS VARCHAR(30))+' '+TARGET.[DESCRIPTION]<>CAST(SOURCE.[FCC] AS VARCHAR(30))+' '+CAST(SOURCE.[MOLECULE] AS VARCHAR(30))+' '+SOURCE.[DESCRIPTION]
			THEN 'M'
		END
		,TARGET.[SYNONYM]=SOURCE.[SYNONYM]
		,TARGET.[PARENT]=SOURCE.[PARENT]
		,TARGET.[DESCRIPTION]=SOURCE.[DESCRIPTION]
		,TARGET.[TIME_STAMP]=GETDATE()
	WHEN NOT MATCHED BY TARGET THEN
		INSERT (FCC, MOLECULE, SYNONYM, PARENT, DESCRIPTION, CHANGE_FLAG, TIME_STAMP)
		VALUES(SOURCE.FCC, SOURCE.MOLECULE, SOURCE.SYNONYM, SOURCE.PARENT, DESCRIPTION,'A',GETDATE())

	WHEN NOT MATCHED BY SOURCE THEN
		UPDATE SET TARGET.CHANGE_FLAG='D',
		TARGET.[TIME_STAMP]=GETDATE();


	--INSERT INTO  [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE] 
	--SELECT FCC, MOLECULE, SYNONYM, PARENT, DESCRIPTION, CHANGE_FLAG, TIME_STAMP FROM [dbo].[TDW-ECP_DIM_MOLECULE]
	--WHERE CHANGE_FLAG<>'U'

	--UPDATE A SET A.TIME_STAMP=B.TIME_STAMP FROM [dbo].[TDW-ECP_DIM_MOLECULE] A
	--INNER JOIN (
	--SELECT
	--	 FCC, MOLECULE, SYNONYM, PARENT, DESCRIPTION,
	--	 [CHANGE_FLAG], MIN(TIME_STAMP)AS TIME_STAMP
	--FROM [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE]
	--WHERE CHANGE_FLAG='D' 
	--GROUP BY FCC, MOLECULE, SYNONYM, PARENT, DESCRIPTION,CHANGE_FLAG) B
	--ON A.FCC=B.FCC AND A.MOLECULE=B.MOLECULE
	--WHERE A.CHANGE_FLAG='D' AND B.CHANGE_FLAG='D'

	--;With CTE
	--AS
	--(
	--SELECT *,ROW_NUMBER ()OVER(PARTITION BY FCC,MOLECULE ORDER BY FCC,MOLECULE, TIME_STAMP ASC) Cnt 
	--FROM [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE] WHERE  CHANGE_FLAG='D'
	--)
	--DELETE FROM CTE WHERE Cnt>1



	INSERT INTO  [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE]
	SELECT DISTINCT
		M.FCC AS FCC,
		P.PACK_DESCRIPTION AS [PACK_DESCRIPTION],
		'M' AS [CHANGE_FLAG],
		M.TIME_STAMP AS [TIME_STAMP]
	FROM [DMMolecule] M
	INNER JOIN [DIMProduct_Expanded] P
	ON M.FCC=P.FCC
	WHERE P.FCC IN (SELECT DISTINCT FCC FROM [DMMolecule] WHERE CHANGE_FLAG='M')


	UPDATE A SET A.TIME_STAMP=B.TIME_STAMP FROM [dbo].[DMMolecule] A
	INNER JOIN (
	SELECT
		 FCC, PACK_DESCRIPTION, [CHANGE_FLAG], MIN(TIME_STAMP)AS TIME_STAMP
	FROM [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE]
	WHERE CHANGE_FLAG='M' 
	GROUP BY FCC, PACK_DESCRIPTION, [CHANGE_FLAG]) B
	ON A.FCC=B.FCC
	WHERE A.CHANGE_FLAG='M' AND B.CHANGE_FLAG='M'

	;With CTE
	AS
	(
	SELECT *,ROW_NUMBER ()OVER(PARTITION BY FCC,PACK_DESCRIPTION ORDER BY FCC,PACK_DESCRIPTION, TIME_STAMP ASC) Cnt 
	FROM [dbo].[HISTORY_TDW-ECP_DIM_MOLECULE] WHERE  CHANGE_FLAG='M'
	)
	DELETE FROM CTE WHERE Cnt>1

	EXEC [CreateDMMoleculeConcat]
end

END







GO
/****** Object:  StoredProcedure [dbo].[GENERATE_DIM_OUTLET]    Script Date: 04-Dec-17 3:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GENERATE_DIM_OUTLET]
AS
BEGIN

declare @count int
select @count=count(*) from [dbo].[RAW_TDW-ECP_DIM_OUTLET]

if @count > 0 
begin
	MERGE [dbo].[DIMOutlet] AS TARGET
	USING [dbo].[RAW_TDW-ECP_DIM_OUTLET] AS SOURCE
	ON (TARGET.[Outl_Brk]=SOURCE.OTLT_CD)

	WHEN MATCHED
	THEN
	UPDATE SET TARGET.CHANGE_FLAG =
		CASE
			WHEN
				LTRIM(RTRIM(TARGET.[Outl_Brk]))	<>	LTRIM(RTRIM(SOURCE.[OTLT_CD]))	OR
				LTRIM(RTRIM(TARGET.[Name]))	<>	LTRIM(RTRIM(SOURCE.[Name]))	OR
				LTRIM(RTRIM(TARGET.[FullAddr]))	<>	LTRIM(RTRIM(SOURCE.[FullAddr]))	OR
				--LTRIM(RTRIM(TARGET.[Addr1]))	<>	LTRIM(RTRIM(SOURCE.[Addr1]))	OR
				--LTRIM(RTRIM(TARGET.[Addr2]))	<>	LTRIM(RTRIM(SOURCE.[Addr2]))	OR
				--LTRIM(RTRIM(TARGET.[Suburb]))	<>	LTRIM(RTRIM(SOURCE.[Suburb]))	OR
				--LTRIM(RTRIM(TARGET.[Phone]))	<>	LTRIM(RTRIM(SOURCE.[Phone]))	OR
				--LTRIM(RTRIM(TARGET.[XCord]))	<>	LTRIM(RTRIM(SOURCE.[XCord]))	OR
				--LTRIM(RTRIM(TARGET.[YCord]))	<>	LTRIM(RTRIM(SOURCE.[YCord]))	OR
				LTRIM(RTRIM(TARGET.[Entity_Type]))	<>	LTRIM(RTRIM(SOURCE.[Entity_Type]))	OR
				--LTRIM(RTRIM(TARGET.[Display]))	<>	LTRIM(RTRIM(SOURCE.[Display]))	OR
				LTRIM(RTRIM(TARGET.[BannerGroup_Desc]))	<>	LTRIM(RTRIM(SOURCE.[BannerGroup_Desc]))	OR
				--LTRIM(RTRIM(TARGET.[Retail_Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Retail_Sbrick_Desc]))	OR
				--LTRIM(RTRIM(TARGET.[Sbrick]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick]))	OR
				--LTRIM(RTRIM(TARGET.[Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick_Desc]))	OR
				LTRIM(RTRIM(TARGET.[State_Code]))	<>	LTRIM(RTRIM(SOURCE.[State_Code])) OR
				LTRIM(RTRIM(TARGET.[Outlet]))	<>	LTRIM(RTRIM(SOURCE.[Outlet]))
				--LTRIM(RTRIM(TARGET.[Out_Type]))	<>	LTRIM(RTRIM(SOURCE.[Out_Type]))	
			THEN 'M'
			ELSE 'U'
		END
		,TARGET.BRICK_CHANGE_FLAG =
		CASE
			WHEN
				--LTRIM(RTRIM(TARGET.[Retail_Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Retail_Sbrick_Desc]))	OR
				LTRIM(RTRIM(TARGET.[BannerGroup_Desc]))	<>	LTRIM(RTRIM(SOURCE.[BannerGroup_Desc]))	OR
				LTRIM(RTRIM(TARGET.[State_Code]))	<>	LTRIM(RTRIM(SOURCE.[State_Code])) OR
				LTRIM(RTRIM(TARGET.[Sbrick]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick]))	OR
				LTRIM(RTRIM(TARGET.[Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick_Desc]))
			THEN 'M'
			ELSE 'U'
		END
		,TARGET.[OUTLETID]=SOURCE.OTLT_CD
		,TARGET.[POSTCODE]=SOURCE.[POSTCODE]
		,TARGET.[AID]=SOURCE.[AID]
		,TARGET.[NAME]=SOURCE.[NAME]
		,TARGET.[FULLADDR]=SOURCE.[FULLADDR]
		,TARGET.[ADDR1]=SOURCE.[ADDR1]
		,TARGET.[ADDR2]=SOURCE.[ADDR2]
		,TARGET.[SUBURB]=SOURCE.[SUBURB]
		,TARGET.[PHONE]=SOURCE.[PHONE]
		,TARGET.[XCORD]=SOURCE.[XCORD]
		,TARGET.[YCORD]=SOURCE.[YCORD]
		,TARGET.[ENTITY_TYPE]=SOURCE.[ENTITY_TYPE]
		,TARGET.[DISPLAY]=SOURCE.[DISPLAY]
		,TARGET.[BANNERGROUP_DESC]=SOURCE.[BANNERGROUP_DESC]
		,TARGET.[RETAIL_SBRICK]=SOURCE.[RETAIL_SBRICK]
		,TARGET.[RETAIL_SBRICK_DESC]=SOURCE.[RETAIL_SBRICK_DESC]
		,TARGET.[SBRICK]=SOURCE.[SBRICK]
		,TARGET.[SBRICK_DESC]=SOURCE.[SBRICK_DESC]
		,TARGET.[STATE_CODE]=SOURCE.[STATE_CODE]
		,TARGET.[EID]=SOURCE.[OTLT_LOC_CD] --ADDED 27-08-2017 BY ASHFAQ
		,TARGET.[Outlet]=SOURCE.[Outlet] --ADDED 18/9
		,TARGET.[Outl_Brk]=SOURCE.[OTLT_CD] --ADDED 27-08-2017 BY ASHFAQ
		,TARGET.[OUT_TYPE]=SOURCE.[OUT_TYPE]
		,TARGET.[OUTLET_TYPE_DESC]=SOURCE.[OUTLET_TYPE_DESC]
		,TARGET.[INACTIVE_DATE]=SOURCE.[INACTIVE_DATE]
		,TARGET.[ACTIVE_DATE]=SOURCE.[ACTIVE_DATE]
		,TARGET.[TIME_STAMP]=GETDATE()
		,TARGET.[BRICK_TIME_STAMP]=GETDATE()

	WHEN NOT MATCHED BY TARGET THEN
		INSERT (OUTLETID, POSTCODE, Outl_Brk, EID, AID, NAME, FULLADDR, ADDR1, ADDR2, SUBURB, PHONE,
				XCORD, YCORD, ENTITY_TYPE, DISPLAY,BANNERGROUP_DESC, RETAIL_SBRICK, RETAIL_SBRICK_DESC, SBRICK, SBRICK_DESC,
				STATE_CODE, OUT_TYPE, OUTLET_TYPE_DESC, INACTIVE_DATE, ACTIVE_DATE, CHANGE_FLAG, TIME_STAMP, BRICK_CHANGE_FLAG, [BRICK_TIME_STAMP])

		VALUES(SOURCE.OTLT_CD, SOURCE.POSTCODE, SOURCE.OTLT_CD, SOURCE.OTLT_LOC_CD, SOURCE.AID, SOURCE.NAME, SOURCE.FULLADDR, SOURCE.ADDR1, SOURCE.ADDR2, SOURCE.SUBURB, SOURCE.PHONE, SOURCE.XCORD, SOURCE.YCORD, SOURCE.ENTITY_TYPE,
		 SOURCE.DISPLAY,SOURCE.BANNERGROUP_DESC, SOURCE.RETAIL_SBRICK, SOURCE.RETAIL_SBRICK_DESC, SOURCE.SBRICK, SOURCE.SBRICK_DESC, SOURCE.STATE_CODE,SOURCE.[OUT_TYPE], SOURCE.[OUTLET_TYPE_DESC],
		  SOURCE.INACTIVE_DATE, SOURCE.ACTIVE_DATE,'A',GETDATE(),'A',GETDATE())

	WHEN NOT MATCHED BY SOURCE THEN
		UPDATE SET TARGET.CHANGE_FLAG='D',
		TARGET.[TIME_STAMP]=GETDATE(),
		TARGET.BRICK_CHANGE_FLAG='D',
		TARGET.[BRICK_TIME_STAMP]=GETDATE();
		/*
	/*----SBRICK CHANGE FLAG START-----*/

	MERGE [dbo].[DIMOutlet] AS TARGET
	USING [dbo].[RAW_TDW-ECP_DIM_OUTLET] AS SOURCE
	ON (TARGET.[Sbrick]=SOURCE.[Sbrick])

	WHEN MATCHED
	THEN
	UPDATE SET TARGET.BRICK_CHANGE_FLAG =
		CASE
			WHEN
				LTRIM(RTRIM(TARGET.[Retail_Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Retail_Sbrick_Desc]))	OR
				LTRIM(RTRIM(TARGET.[Sbrick]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick]))	OR
				LTRIM(RTRIM(TARGET.[Sbrick_Desc]))	<>	LTRIM(RTRIM(SOURCE.[Sbrick_Desc]))
			THEN 'M'
			ELSE 'U'
		END
		,TARGET.[BRICK_TIME_STAMP]=GETDATE()

	WHEN NOT MATCHED BY TARGET THEN
		INSERT (BRICK_CHANGE_FLAG, BRICK_TIME_STAMP)

		VALUES('A',GETDATE())

	WHEN NOT MATCHED BY SOURCE THEN
		UPDATE SET TARGET.[BRICK_CHANGE_FLAG]='D',
		TARGET.[BRICK_TIME_STAMP]=GETDATE();

		/*----SBRICK CHANGE FLAG END-----*/
		*/

	INSERT INTO  [dbo].[HISTORY_TDW-ECP_DIM_OUTLET] 
	SELECT *

	FROM [dbo].[DIMOutlet]
	WHERE CHANGE_FLAG<>'U' AND BRICK_CHANGE_FLAG<>'U'

	UPDATE A SET A.TIME_STAMP=B.TIME_STAMP,A.BRICK_TIME_STAMP=B.BRICK_TIME_STAMP FROM [dbo].[DIMOutlet] A
	INNER JOIN (
	SELECT
		 [OUTLETID]
		,[POSTCODE]
		,[Outlet]
		,[Outl_Brk]
		,[EID]
		,[AID]
		,[NAME]
		,[FULLADDR]
		,[ADDR1]
		,[ADDR2]
		,[SUBURB]
		,[PHONE]
		,[XCORD]
		,[YCORD]
		,[ENTITY_TYPE]
		,[DISPLAY]
		,[BANNERGROUP_DESC]
		,[RETAIL_SBRICK]
		,[RETAIL_SBRICK_DESC]
		,[SBRICK]
		,[SBRICK_DESC]
		,[STATE_CODE]
		,[OUT_TYPE]
		,[OUTLET_TYPE_DESC]
		,[INACTIVE_DATE]
		,[ACTIVE_DATE]
		,[CHANGE_FLAG],
		MIN(TIME_STAMP)AS TIME_STAMP
		,[BRICK_CHANGE_FLAG],
		MIN(BRICK_TIME_STAMP)AS BRICK_TIME_STAMP
	FROM [dbo].[HISTORY_TDW-ECP_DIM_OUTLET]
	WHERE CHANGE_FLAG='D'  AND BRICK_CHANGE_FLAG='D'
	GROUP BY [OUTLETID]
		,[POSTCODE]
		,[Outlet]
		,[Outl_Brk]
		,[EID]
		,[AID]
		,[NAME]
		,[FULLADDR]
		,[ADDR1]
		,[ADDR2]
		,[SUBURB]
		,[PHONE]
		,[XCORD]
		,[YCORD]
		,[ENTITY_TYPE]
		,[DISPLAY]
		,BANNERGROUP_DESC
		,[RETAIL_SBRICK]
		,[RETAIL_SBRICK_DESC]
		,[SBRICK]
		,[SBRICK_DESC]
		,[STATE_CODE]
		,[OUT_TYPE]
		,[OUTLET_TYPE_DESC]
		,[INACTIVE_DATE]
		,[ACTIVE_DATE]
		,[CHANGE_FLAG]
		,[BRICK_CHANGE_FLAG]) B
	ON A.[OUTLETID]=B.[OUTLETID]
	WHERE A.CHANGE_FLAG='D' AND B.CHANGE_FLAG='D'
	AND A.BRICK_CHANGE_FLAG='D' AND B.BRICK_CHANGE_FLAG='D'

	;With CTE
	AS
	(
	SELECT *,ROW_NUMBER ()OVER(PARTITION BY [OUTLETID] ORDER BY [OUTLETID], TIME_STAMP ASC) Cnt 
	FROM [dbo].[HISTORY_TDW-ECP_DIM_OUTLET] WHERE  CHANGE_FLAG='D'
	)
	DELETE FROM CTE WHERE Cnt>1


	;With CTE
	AS
	(
	SELECT *,ROW_NUMBER ()OVER(PARTITION BY [SBRICK] ORDER BY [SBRICK], BRICK_TIME_STAMP ASC) Cnt 
	FROM [dbo].[HISTORY_TDW-ECP_DIM_OUTLET] WHERE  BRICK_CHANGE_FLAG='D'
	)
	DELETE FROM CTE WHERE Cnt>1 --AND BRICK_CHANGE_FLAG IS NULL AND BRICK_TIME_STAMP IS NULL
end

END









alter table dimproduct_expanded add highlighter char(1)
alter table dimproduct_expanded add highlighterFrom datetime
alter table dimproduct_expanded add highlighterTo datetime
GO


/****** Object:  StoredProcedure [dbo].[GENERATE_DIM_PROD]    Script Date: 04-Dec-17 3:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GENERATE_DIM_PROD]
AS
BEGIN


declare @count int
select @count=count(*) from [dbo].[RAW_TDW-ECP_DIM_PRODUCT]

if @count > 0 
begin
-----First replace NULL values by empty string
	update [dbo].[RAW_TDW-ECP_DIM_PRODUCT] set 
		   [PRODUCTNAME] = ISNULL([PRODUCTNAME], ''),
		   [PACK_DESCRIPTION] = ISNULL([PACK_DESCRIPTION], ''),
		   [Org_Long_Name] = ISNULL([Org_Long_Name], ''),
		   [Org_Short_Name] = ISNULL([Org_Short_Name], ''),
		   [FRM_Flgs5_Desc] = ISNULL([FRM_Flgs5_Desc], ''),
		   [FRM_Flgs3_Desc] = ISNULL([FRM_Flgs3_Desc], ''),
		   [ATC1_Code] = ISNULL([ATC1_Code], ''),
		   [ATC2_Code] = ISNULL([ATC2_Code], ''),
		   [ATC3_Code] = ISNULL([ATC3_Code], ''),
		   [ATC4_Code] = ISNULL([ATC4_Code], ''),
		   [NEC1_Code] = ISNULL([NEC1_Code], ''),
		   [NEC2_Code] = ISNULL([NEC2_Code], ''),
		   [NEC3_Code] = ISNULL([NEC3_Code], ''),
		   [NEC4_Code] = ISNULL([NEC4_Code], '')


	--insert into dimproduct_expanded
	MERGE [dbo].[DIMProduct_Expanded] AS TARGET
	USING [dbo].[RAW_TDW-ECP_DIM_PRODUCT] AS SOURCE
	ON (TARGET.FCC=SOURCE.FCC)

	WHEN MATCHED
	THEN
	UPDATE SET TARGET.CHANGE_FLAG =
		CASE
			WHEN 
				RTRIM(LTRIM(TARGET.[PRODUCTNAME]))<>RTRIM(LTRIM(SOURCE.[PRODUCTNAME])) OR
				RTRIM(LTRIM(TARGET.[PACK_DESCRIPTION]))<>RTRIM(LTRIM(SOURCE.[PACK_DESCRIPTION])) OR
				RTRIM(LTRIM(TARGET.[Org_Long_Name]))<>RTRIM(LTRIM(SOURCE.[Org_Long_Name])) OR
				RTRIM(LTRIM(TARGET.[FRM_Flgs5_Desc]))<>RTRIM(LTRIM(SOURCE.[FRM_Flgs5_Desc])) OR
				RTRIM(LTRIM(TARGET.[FRM_Flgs3_Desc]))<>RTRIM(LTRIM(SOURCE.[FRM_Flgs3_Desc])) OR
				RTRIM(LTRIM(TARGET.[ProductName]))<>RTRIM(LTRIM(SOURCE.[ProductName])) OR
				RTRIM(LTRIM(TARGET.[ATC1_Code]))<>RTRIM(LTRIM(SOURCE.[ATC1_Code])) OR
				RTRIM(LTRIM(TARGET.[ATC2_Code]))<>RTRIM(LTRIM(SOURCE.[ATC2_Code])) OR
				RTRIM(LTRIM(TARGET.[ATC3_Code]))<>RTRIM(LTRIM(SOURCE.[ATC3_Code])) OR
				RTRIM(LTRIM(TARGET.[ATC4_Code]))<>RTRIM(LTRIM(SOURCE.[ATC4_Code])) OR
				RTRIM(LTRIM(TARGET.[NEC1_Code]))<>RTRIM(LTRIM(SOURCE.[NEC1_Code])) OR
				RTRIM(LTRIM(TARGET.[NEC2_Code]))<>RTRIM(LTRIM(SOURCE.[NEC2_Code])) OR
				RTRIM(LTRIM(TARGET.[NEC3_Code]))<>RTRIM(LTRIM(SOURCE.[NEC3_Code])) OR
				RTRIM(LTRIM(TARGET.[NEC4_Code]))<>RTRIM(LTRIM(SOURCE.[NEC4_Code]))
			THEN 'M'
			ELSE 'U'
		END

		,TARGET.highlighter =
			CASE WHEN highlighter = 'A' and highlighterTo > GETDATE() THEN 'A'
				 WHEN highlighter = 'A' and highlighterTo < GETDATE() THEN 'U'
			END
		,TARGET.[PACKID]=SOURCE.[PACKID]
		,TARGET.[PROD_CD]=SOURCE.[PROD_CD]
		,TARGET.[PACK_CD]=SOURCE.[PACK_CD]
		,TARGET.[PFC]=SOURCE.[PFC]
		,TARGET.[PRODUCTNAME]=SOURCE.[PRODUCTNAME]
		,TARGET.[PRODUCT_LONG_NAME]=SOURCE.[PRODUCT_LONG_NAME]
		,TARGET.[PACK_DESCRIPTION]=SOURCE.[PACK_DESCRIPTION]
		,TARGET.[PACK_LONG_NAME]=SOURCE.[PACK_LONG_NAME]
		,TARGET.[ATC1_CODE]=SOURCE.[ATC1_CODE]
		,TARGET.[ATC1_DESC]=CAST(SOURCE.[ATC1_Desc] AS Nvarchar(50))
		,TARGET.[ATC2_CODE]=SOURCE.[ATC2_CODE]
		,TARGET.[ATC2_DESC]=SOURCE.[ATC2_DESC]
		,TARGET.[ATC3_CODE]=SOURCE.[ATC3_CODE]
		,TARGET.[ATC3_DESC]=SOURCE.[ATC3_DESC]
		,TARGET.[ATC4_CODE]=SOURCE.[ATC4_CODE]
		,TARGET.[ATC4_DESC]=SOURCE.[ATC4_DESC]
		,TARGET.[NEC1_CODE]=SOURCE.[NEC1_CODE]
		,TARGET.[NEC1_DESC]=SOURCE.[NEC1_DESC]
		,TARGET.[NEC1_LONGDESC]=SOURCE.[NEC1_LONGDESC]
		,TARGET.[NEC2_CODE]=SOURCE.[NEC2_CODE]
		,TARGET.[NEC2_DESC]=SOURCE.[NEC2_DESC]
		,TARGET.[NEC2_LONGDESC]=SOURCE.[NEC2_LONGDESC]
		,TARGET.[NEC3_CODE]=SOURCE.[NEC3_CODE]
		,TARGET.[NEC3_DESC]=SOURCE.[NEC3_DESC]
		,TARGET.[NEC3_LONGDESC]=SOURCE.[NEC3_LONGDESC]
		,TARGET.[NEC4_CODE]=SOURCE.[NEC4_CODE]
		,TARGET.[NEC4_DESC]=SOURCE.[NEC4_DESC]
		,TARGET.[NEC4_LONGDESC]=SOURCE.[NEC4_LONGDESC]
		,TARGET.[CH_SEGMENT_CODE]=SOURCE.[CH_SEGMENT_CODE]
		,TARGET.[CH_SEGMENT_DESC]=SOURCE.[CH_SEGMENT_DESC]
		,TARGET.[WHO1_CODE]=SOURCE.[WHO1_CODE]
		,TARGET.[WHO1_DESC]=SOURCE.[WHO1_DESC]
		,TARGET.[WHO2_CODE]=SOURCE.[WHO2_CODE]
		,TARGET.[WHO2_DESC]=SOURCE.[WHO2_DESC]
		,TARGET.[WHO3_CODE]=SOURCE.[WHO3_CODE]
		,TARGET.[WHO3_DESC]=SOURCE.[WHO3_DESC]
		,TARGET.[WHO4_CODE]=SOURCE.[WHO4_CODE]
		,TARGET.[WHO4_DESC]=SOURCE.[WHO4_DESC]
		,TARGET.[WHO5_CODE]=SOURCE.[WHO5_CODE]
		,TARGET.[WHO5_DESC]=SOURCE.[WHO5_DESC]
		,TARGET.[FRM_FLGS1]=SOURCE.[FRM_FLGS1]
		,TARGET.[FRM_FLGS1_DESC]=SOURCE.[FRM_FLGS1_DESC]
		,TARGET.[FRM_FLGS2]=SOURCE.[FRM_FLGS2]
		,TARGET.[FRM_FLGS2_DESC]=SOURCE.[FRM_FLGS2_DESC]
		,TARGET.[FRM_FLGS3]=SOURCE.[FRM_FLGS3]
		,TARGET.[FRM_FLGS3_DESC]=SOURCE.[FRM_FLGS3_DESC]
		,TARGET.[FRM_FLGS4]=SOURCE.[FRM_FLGS4]
		,TARGET.[FRM_FLGS4_DESC]=SOURCE.[FRM_FLGS4_DESC]
		,TARGET.[FRM_FLGS5]=SOURCE.[FRM_FLGS5]
		,TARGET.[FRM_FLGS5_DESC]=SOURCE.[FRM_FLGS5_DESC]
		,TARGET.[FRM_FLGS6]=SOURCE.[FRM_FLGS6]
		,TARGET.[COMPOUND_INDICATOR]=SOURCE.[COMPOUND_INDICATOR]
		,TARGET.[COMPOUND_IND_DESC]=SOURCE.[COMPOUND_IND_DESC]
		,TARGET.[PBS_FORMULARY]=SOURCE.[PBS_FORMULARY]
		,TARGET.[PBS_FORMULARY_DATE]=SOURCE.[PBS_FORMULARY_DATE]
		,TARGET.[POISON_SCHEDULE]=SOURCE.[POISON_SCHEDULE]
		,TARGET.[POISON_SCHEDULE_DESC]=SOURCE.[POISON_SCHEDULE_DESC]
		,TARGET.[STDY_IND1_CODE]=SOURCE.[STDY_IND1_CODE]
		,TARGET.[STUDY_INDICATORS1]=SOURCE.[STUDY_INDICATORS1]
		,TARGET.[STDY_IND2_CODE]=SOURCE.[STDY_IND2_CODE]
		,TARGET.[STUDY_INDICATORS2]=SOURCE.[STUDY_INDICATORS2]
		,TARGET.[STDY_IND3_CODE]=SOURCE.[STDY_IND3_CODE]
		,TARGET.[STUDY_INDICATORS3]=SOURCE.[STUDY_INDICATORS3]
		,TARGET.[STDY_IND4_CODE]=SOURCE.[STDY_IND4_CODE]
		,TARGET.[STUDY_INDICATORS4]=SOURCE.[STUDY_INDICATORS4]
		,TARGET.[STDY_IND5_CODE]=SOURCE.[STDY_IND5_CODE]
		,TARGET.[STUDY_INDICATORS5]=SOURCE.[STUDY_INDICATORS5]
		,TARGET.[STDY_IND6_CODE]=SOURCE.[STDY_IND6_CODE]
		,TARGET.[STUDY_INDICATORS6]=SOURCE.[STUDY_INDICATORS6]
		,TARGET.[PACKLAUNCH]=SOURCE.[PACKLAUNCH]
		,TARGET.[PROD_LCH]=SOURCE.[PROD_LCH]
		,TARGET.[OUT_TD_DT]=SOURCE.[OUT_TD_DT]
		,TARGET.[PK_SIZE]=SOURCE.[PK_SIZE]
		,TARGET.[VOL_WT_UNS]=SOURCE.[VOL_WT_UNS]
		,TARGET.[VOL_WT_MEAS]=SOURCE.[VOL_WT_MEAS]
		,TARGET.[STRGH_UNS]=SOURCE.[STRGH_UNS]
		,TARGET.[STRGH_MEAS]=SOURCE.[STRGH_MEAS]
		,TARGET.[CONC_UNIT]=SOURCE.[CONC_UNIT]
		,TARGET.[CONC_MEAS]=LEFT(CAST(SOURCE.[Conc_Meas] AS VARCHAR(MAX)),5)
		,TARGET.[ADDITIONAL_STRENGTH]=SOURCE.[ADDITIONAL_STRENGTH]
		,TARGET.[RECOMMENDED_RETAIL_PRICE]=SOURCE.[RECOMMENDED_RETAIL_PRICE]
		,TARGET.[RET_PRICE_EFFECTIVE_DATE]=SOURCE.[RET_PRICE_EFFECTIVE_DATE]
		,TARGET.[EDITABLE_PACK_DESCRIPTION]=SOURCE.[EDITABLE_PACK_DESCRIPTION]
		,TARGET.[APN]=SOURCE.[APN]
		,TARGET.[TRADE_PRODUCT_PACK_ID]=SOURCE.[TRADE_PRODUCT_PACK_ID]
		,TARGET.[FORM_DESC_ABBR]=SOURCE.[FORM_DESC_ABBR]
		,TARGET.[FORM_DESC_SHORT]=SOURCE.[FORM_DESC_SHORT]
		,TARGET.[FORM_DESC_LONG]=SOURCE.[FORM_DESC_LONG]
		,TARGET.[NFC1_CODE]=SOURCE.[NFC1_CODE]
		,TARGET.[NFC1_DESC]=SOURCE.[NFC1_DESC]
		,TARGET.[NFC2_CODE]=SOURCE.[NFC2_CODE]
		,TARGET.[NFC2_DESC]=SOURCE.[NFC2_DESC]
		,TARGET.[NFC3_CODE]=SOURCE.[NFC3_CODE]
		,TARGET.[NFC3_DESC]=SOURCE.[NFC3_DESC]
		,TARGET.[PRICE_EFFECTIVE_DATE]=SOURCE.[PRICE_EFFECTIVE_DATE]
		,TARGET.[LAST_AMD]=SOURCE.[LAST_AMD]
		,TARGET.[PBS_START_DATE]=SOURCE.[PBS_START_DATE]
		,TARGET.[PBS_END_DATE]=SOURCE.[PBS_END_DATE]
		,TARGET.[SUPPLIER_CODE]=SOURCE.[SUPPLIER_CODE]
		,TARGET.[SUPPLIER_PRODUCT_CODE]=SOURCE.[SUPPLIER_PRODUCT_CODE]
		,TARGET.[Org_Code]=SOURCE.[Org_Code]
		,TARGET.[Org_Abbr]=SOURCE.[Org_Abbr]
		,TARGET.[Org_Short_Name]=SOURCE.[Org_Short_Name]
		,TARGET.[Org_Long_Name]=SOURCE.[Org_Long_Name]
		,TARGET.[TIME_STAMP]=GETDATE()

	WHEN NOT MATCHED BY TARGET THEN
		INSERT ([PACKID],[PROD_CD],[PACK_CD],[PFC],[PRODUCTNAME],[PRODUCT_LONG_NAME],[PACK_DESCRIPTION],[PACK_LONG_NAME],[FCC],[ATC1_CODE],[ATC1_DESC],[ATC2_CODE],
		[ATC2_DESC],[ATC3_CODE],[ATC3_DESC],[ATC4_CODE],[ATC4_DESC],[NEC1_CODE],[NEC1_DESC],[NEC1_LONGDESC],[NEC2_CODE],[NEC2_DESC],[NEC2_LONGDESC],[NEC3_CODE],
		[NEC3_DESC],[NEC3_LONGDESC],[NEC4_CODE],[NEC4_DESC],[NEC4_LONGDESC],[CH_SEGMENT_CODE],[CH_SEGMENT_DESC],[WHO1_CODE],[WHO1_DESC],[WHO2_CODE],[WHO2_DESC],
		[WHO3_CODE],[WHO3_DESC],[WHO4_CODE],[WHO4_DESC],[WHO5_CODE],[WHO5_DESC],[FRM_FLGS1],[FRM_FLGS1_DESC],[FRM_FLGS2],[FRM_FLGS2_DESC],[FRM_FLGS3],[FRM_FLGS3_DESC],
		[FRM_FLGS4],[FRM_FLGS4_DESC],[FRM_FLGS5],[FRM_FLGS5_DESC],[FRM_FLGS6],[COMPOUND_INDICATOR],[COMPOUND_IND_DESC],[PBS_FORMULARY],[PBS_FORMULARY_DATE],
		[POISON_SCHEDULE],[POISON_SCHEDULE_DESC],[STDY_IND1_CODE],[STUDY_INDICATORS1],[STDY_IND2_CODE],[STUDY_INDICATORS2],[STDY_IND3_CODE],[STUDY_INDICATORS3],
		[STDY_IND4_CODE],[STUDY_INDICATORS4],[STDY_IND5_CODE],[STUDY_INDICATORS5],[STDY_IND6_CODE],[STUDY_INDICATORS6],[PACKLAUNCH],[PROD_LCH],[OUT_TD_DT],
		[PK_SIZE],[VOL_WT_UNS],[VOL_WT_MEAS],[STRGH_UNS],[STRGH_MEAS],[CONC_UNIT],[CONC_MEAS],[ADDITIONAL_STRENGTH],[RECOMMENDED_RETAIL_PRICE],
		[RET_PRICE_EFFECTIVE_DATE],[EDITABLE_PACK_DESCRIPTION],[APN],[TRADE_PRODUCT_PACK_ID],[FORM_DESC_ABBR],[FORM_DESC_SHORT],[FORM_DESC_LONG],[NFC1_CODE],
		[NFC1_DESC],[NFC2_CODE],[NFC2_DESC],[NFC3_CODE],[NFC3_DESC],[PRICE_EFFECTIVE_DATE],[LAST_AMD],[PBS_START_DATE],[PBS_END_DATE],[SUPPLIER_CODE],
		[SUPPLIER_PRODUCT_CODE],
		[org_code], [org_abbr]
		,[Org_Short_Name]
		,[org_long_name]
		,[CHANGE_FLAG],[TIME_STAMP]
		
		,highlighter, highlighterFrom, highlighterTo
		)

		VALUES(SOURCE.[PACKID],SOURCE.[PROD_CD],SOURCE.[PACK_CD],SOURCE.[PFC],SOURCE.[PRODUCTNAME],SOURCE.[PRODUCT_LONG_NAME],SOURCE.[PACK_DESCRIPTION],SOURCE.[PACK_LONG_NAME],SOURCE.[FCC],SOURCE.[ATC1_CODE],CAST(SOURCE.[ATC1_Desc] AS Nvarchar(50)),SOURCE.[ATC2_CODE],
		SOURCE.[ATC2_DESC],SOURCE.[ATC3_CODE],SOURCE.[ATC3_DESC],SOURCE.[ATC4_CODE],SOURCE.[ATC4_DESC],SOURCE.[NEC1_CODE],SOURCE.[NEC1_DESC],SOURCE.[NEC1_LONGDESC],SOURCE.[NEC2_CODE],SOURCE.[NEC2_DESC],SOURCE.[NEC2_LONGDESC],SOURCE.[NEC3_CODE],
		SOURCE.[NEC3_DESC],SOURCE.[NEC3_LONGDESC],SOURCE.[NEC4_CODE],SOURCE.[NEC4_DESC],SOURCE.[NEC4_LONGDESC],SOURCE.[CH_SEGMENT_CODE],SOURCE.[CH_SEGMENT_DESC],SOURCE.[WHO1_CODE],SOURCE.[WHO1_DESC],SOURCE.[WHO2_CODE],SOURCE.[WHO2_DESC],
		SOURCE.[WHO3_CODE],SOURCE.[WHO3_DESC],SOURCE.[WHO4_CODE],SOURCE.[WHO4_DESC],SOURCE.[WHO5_CODE],SOURCE.[WHO5_DESC],SOURCE.[FRM_FLGS1],SOURCE.[FRM_FLGS1_DESC],SOURCE.[FRM_FLGS2],SOURCE.[FRM_FLGS2_DESC],SOURCE.[FRM_FLGS3],SOURCE.[FRM_FLGS3_DESC],
		SOURCE.[FRM_FLGS4],SOURCE.[FRM_FLGS4_DESC],SOURCE.[FRM_FLGS5],SOURCE.[FRM_FLGS5_DESC],SOURCE.[FRM_FLGS6],SOURCE.[COMPOUND_INDICATOR],SOURCE.[COMPOUND_IND_DESC],SOURCE.[PBS_FORMULARY],SOURCE.[PBS_FORMULARY_DATE],
		SOURCE.[POISON_SCHEDULE],SOURCE.[POISON_SCHEDULE_DESC],SOURCE.[STDY_IND1_CODE],SOURCE.[STUDY_INDICATORS1],SOURCE.[STDY_IND2_CODE],SOURCE.[STUDY_INDICATORS2],SOURCE.[STDY_IND3_CODE],SOURCE.[STUDY_INDICATORS3],
		SOURCE.[STDY_IND4_CODE],SOURCE.[STUDY_INDICATORS4],SOURCE.[STDY_IND5_CODE],SOURCE.[STUDY_INDICATORS5],SOURCE.[STDY_IND6_CODE],SOURCE.[STUDY_INDICATORS6],SOURCE.[PACKLAUNCH],SOURCE.[PROD_LCH],SOURCE.[OUT_TD_DT],
		SOURCE.[PK_SIZE],SOURCE.[VOL_WT_UNS],SOURCE.[VOL_WT_MEAS],SOURCE.[STRGH_UNS],SOURCE.[STRGH_MEAS],SOURCE.[CONC_UNIT],LEFT(CAST(SOURCE.[Conc_Meas] AS VARCHAR(MAX)),5),SOURCE.[ADDITIONAL_STRENGTH],SOURCE.[RECOMMENDED_RETAIL_PRICE],
		SOURCE.[RET_PRICE_EFFECTIVE_DATE],SOURCE.[EDITABLE_PACK_DESCRIPTION],SOURCE.[APN],SOURCE.[TRADE_PRODUCT_PACK_ID],SOURCE.[FORM_DESC_ABBR],SOURCE.[FORM_DESC_SHORT],SOURCE.[FORM_DESC_LONG],SOURCE.[NFC1_CODE],
		SOURCE.[NFC1_DESC],SOURCE.[NFC2_CODE],SOURCE.[NFC2_DESC],SOURCE.[NFC3_CODE],SOURCE.[NFC3_DESC],SOURCE.[PRICE_EFFECTIVE_DATE],SOURCE.[LAST_AMD],SOURCE.[PBS_START_DATE],SOURCE.[PBS_END_DATE],SOURCE.[SUPPLIER_CODE],
		SOURCE.[SUPPLIER_PRODUCT_CODE],
		SOURCE.[org_code], SOURCE.[org_abbr]
		,SOURCE.[Org_Short_Name]
		,SOURCE.[org_long_name]
		,'A',GETDATE()

		,'A', GETDATE(), DATEADD(day, 30, GETDATE())
		)

	WHEN NOT MATCHED BY SOURCE THEN
		UPDATE SET TARGET.CHANGE_FLAG='D',
		TARGET.[TIME_STAMP]=GETDATE(),
		TARGET.highlighter = 'D'
		;


	INSERT INTO  [dbo].[HISTORY_TDW-ECP_DIM_PRODUCT] 
	SELECT 
		 [FCC]
		,[PFC]
		,[PACK_DESCRIPTION]
		,[ATC4_CODE]
		,[CHANGE_FLAG]
		,[TIME_STAMP]
	FROM [dbo].[DIMProduct_Expanded]
	WHERE CHANGE_FLAG<>'U'

	UPDATE A SET A.TIME_STAMP=B.TIME_STAMP FROM [dbo].[DIMProduct_Expanded] A
	INNER JOIN (SELECT FCC, PFC, PACK_DESCRIPTION, ATC4_CODE, CHANGE_FLAG, MIN(TIME_STAMP)AS TIME_STAMP FROM [dbo].[HISTORY_TDW-ECP_DIM_PRODUCT]
	WHERE CHANGE_FLAG='D' 
	GROUP BY FCC, PFC, PACK_DESCRIPTION, ATC4_CODE, CHANGE_FLAG) B
	ON A.FCC=B.FCC
	WHERE A.CHANGE_FLAG='D' AND B.CHANGE_FLAG='D'

	;With CTE
	AS
	(
	SELECT *,ROW_NUMBER ()OVER(PARTITION BY FCC ORDER BY FCC, TIME_STAMP ASC) Cnt 
	FROM [dbo].[HISTORY_TDW-ECP_DIM_PRODUCT] WHERE  CHANGE_FLAG='D'
	)
	DELETE FROM CTE WHERE Cnt>1

	----remove packs for promotional and medical

	delete from [dbo].[DIMProduct_Expanded]
	where (study_indicators1 is null and study_indicators3 is null and study_indicators5 is null and study_indicators6 is null) and 
		([STDY_IND2_CODE] = '1' OR [STDY_IND4_CODE] = '1')

	delete from [dbo].[DIMProduct_Expanded]
	where (study_indicators1 = '' and study_indicators3 = '' and study_indicators5 = '' and study_indicators6 = '') and 
		(study_indicators2 like '%MEDICAL%' OR study_indicators2 like '%PROMOTIONAL%' )

	--delete dummy NEC
	delete from [DIMProduct_Expanded] where NEC3_code = '98A2'

	--delete dummy out_td_dt

	delete from [DIMProduct_Expanded] where out_td_dt='1111-01-01'

	--delete out_td_dt > 5 years 
	Delete from [DIMProduct_Expanded] where out_td_dt in (
	select distinct out_td_dt from (
	SELECT  distinct out_td_dt,DATEDIFF(year,out_td_dt,GETDATE()) AS 'Duration'
	FROM [DIMProduct_Expanded])A
	where A.duration>5)

end

END


GO
/****** Object:  StoredProcedure [dbo].[GenerateBricksAndOutlets]    Script Date: 04-Dec-17 3:26:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerateBricksAndOutlets] 
AS
BEGIN
	SET NOCOUNT ON;
	declare @rawDataCount int
	select @rawDataCount=count(*) from [dbo].[RAW_TDW-ECP_DIM_OUTLET]

	if @rawDataCount > 0 
	begin
		----Generating tblBrick-----
		declare @rowCount int
		select @rowCount = count(*) from tblBrick

		IF @rowCount = 0 
		begin
			insert into tblBrick
			SELECT DISTINCT Sbrick AS Brick, Sbrick_Desc as BrickName, '' AS [Address], '' as BannerGroup, 
			State_Code as [State], 
			case when isnumeric(SBRICK)<>1 then 'H' else 'R' end as Panel,
			'A' as ChangeFlag, Retail_Sbrick as BrickLocation
			FROM dbo.DIMOutlet
			where State_Code <> ''  and Sbrick is not null
		end
		ELSE
		begin
			SELECT DISTINCT Sbrick AS Brick, Sbrick_Desc as BrickName, 
			
			'' AS [Address], '' as BannerGroup, 
			State_Code as [State], 
			case when isnumeric(SBRICK)<>1 then 'H' else 'R' end as Panel,
			'A' as ChangeFlag, Retail_Sbrick as BrickLocation
			
			into #tmpBrick
			FROM [dbo].[RAW_TDW-ECP_DIM_OUTLET]
			where State_Code <> ''  and Sbrick is not null
	
			MERGE [dbo].[tblBrick] AS TARGET
			USING (select top 1 * from #tmpBrick) AS SOURCE
			ON (TARGET.[Brick]=SOURCE.[Brick])

			WHEN MATCHED
			THEN
			UPDATE SET TARGET.ChangeFlag =
				CASE
					WHEN
						LTRIM(RTRIM(TARGET.[BrickName]))	<>	LTRIM(RTRIM(SOURCE.[BrickName]))	OR
						LTRIM(RTRIM(TARGET.[State]))	<>	LTRIM(RTRIM(SOURCE.[State]))	OR
						LTRIM(RTRIM(TARGET.[BrickLocation]))	<>	LTRIM(RTRIM(SOURCE.[BrickLocation]))	
					THEN 'M'
					ELSE 'U'
				END
		
				,TARGET.[BrickName]=SOURCE.[BrickName]
				,TARGET.[State]=SOURCE.[State]
				,TARGET.[BrickLocation]=SOURCE.[BrickLocation]
		

			WHEN NOT MATCHED BY TARGET THEN
				INSERT (Brick, BrickName, Address, BannerGroup, State, ChangeFlag, BrickLocation)

				VALUES(SOURCE.Brick, SOURCE.BrickName, '', '', SOURCE.State, 'A', SOURCE.BrickLocation)

			WHEN NOT MATCHED BY SOURCE THEN
				UPDATE SET TARGET.CHANGEFLAG='D';
		end
	
		------insert to tbloutlet
		truncate table tblOutlet
		insert into tblOutlet
		SELECT DISTINCT Outl_brk Outlet, Name AS OutletName, REPLACE(REPLACE(FullAddr, CHAR(13), ' '), CHAR(10), ' ') AS [Address], BannerGroup_Desc as BannerGroup,
		State_Code as [State], 
		case when left(ENTITY_TYPE,1) = 'H' and left(out_type,1)=2 then 'H'
			 when left(ENTITY_TYPE,1) = 'P' then 'R' 
			 when left(ENTITY_TYPE,1) = 'o' then 'O' end as Panel,
	
		CHANGE_FLAG as ChangeFlag, EID, '' as OutletLocation
		FROM dbo.DIMOutlet
		where State_Code <> ''  and Outl_brk is not null
	end

END
GO
