/****** Object:  Table [dbo].[AU9_HOLIDAY] ******/
IF NOT EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES 
                 WHERE TABLE_SCHEMA = 'dbo' 
                 AND  TABLE_NAME = 'AU9_HOLIDAY')
BEGIN

CREATE TABLE [dbo].[AU9_HOLIDAY](
	[ST_CD] [varchar](20) NOT NULL,
	[CAL_DT] [datetime] NOT NULL,
	[HOLIDAY_DESC] [varchar](255) NULL,
	[EXPRY_DT] [datetime2](7) NULL,
	[EFF_DT] [datetime2](7) NULL,
	[OPR_EFF_DT] [datetime2](7) NULL,
	[OPR_EXPRY_DT] [datetime2](7) NULL,
	[OPR_SRC_SYS_ID] [int] NULL,
	[OPR_CUR_REC_IND] [char](1) NULL,
	[OPR_ISRT_TS] [datetime2](7) NULL,
	[OPR_LOAD_SEQ_ID] [int] NULL,
	[OPR_LOGL_DEL_IND] [char](1) NULL,
	[PD_ID] [bigint] NULL
) ON [PRIMARY]


INSERT [dbo].[AU9_HOLIDAY] ([ST_CD], [CAL_DT], [HOLIDAY_DESC], [EXPRY_DT], [EFF_DT], [OPR_EFF_DT], [OPR_EXPRY_DT], [OPR_SRC_SYS_ID], [OPR_CUR_REC_IND], [OPR_ISRT_TS], [OPR_LOAD_SEQ_ID], [OPR_LOGL_DEL_IND], [PD_ID]) VALUES (N'ACT', CAST(N'2018-06-11 00:00:00.000' AS DateTime), N'Queen''s Birthday', CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), 1, N'1', CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), 1, N'1', 38616)
INSERT [dbo].[AU9_HOLIDAY] ([ST_CD], [CAL_DT], [HOLIDAY_DESC], [EXPRY_DT], [EFF_DT], [OPR_EFF_DT], [OPR_EXPRY_DT], [OPR_SRC_SYS_ID], [OPR_CUR_REC_IND], [OPR_ISRT_TS], [OPR_LOAD_SEQ_ID], [OPR_LOGL_DEL_IND], [PD_ID]) VALUES (N'ACT', CAST(N'2018-04-25 00:00:00.000' AS DateTime), N'Anzac Day', CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), 1, N'1', CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), 1, N'1', 37013)
INSERT [dbo].[AU9_HOLIDAY] ([ST_CD], [CAL_DT], [HOLIDAY_DESC], [EXPRY_DT], [EFF_DT], [OPR_EFF_DT], [OPR_EXPRY_DT], [OPR_SRC_SYS_ID], [OPR_CUR_REC_IND], [OPR_ISRT_TS], [OPR_LOAD_SEQ_ID], [OPR_LOGL_DEL_IND], [PD_ID]) VALUES (N'ACT', CAST(N'2018-04-02 00:00:00.000' AS DateTime), N'Easter Monday', CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), CAST(N'2999-12-31 00:00:00.0000000' AS DateTime2), 1, N'1', CAST(N'2017-07-25 23:07:24.3570000' AS DateTime2), 1, N'1', 36973)









END