.modal-content {
    border: 2px solid #578483 !important;
}

.alert-modal {
    padding-top: 100px;
}
.alert-modal-dialog{
    width: 800px;
}
.modal-text{
    font-size: 20px;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loading .spinner {
    z-index: 99999;
}

.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}

.btn-outline-danger:hover {
    color: white;
    background-image: none;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

.btn-outline-primary:hover {
    color: white;
    background-image: none;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.btn-outline-info:hover {
    color: white;
    background-image: none;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.conformation-modal.active{
    -webkit-animation: anim .3s ease-in-out;
          animation: anim .3s ease-in-out;
}
.confirmationBtn{
    padding-left: 18px;
    padding-right: 18px;
}