@charset "utf-8";
/* CSS Document */
.textDisabled {
    color: #CFCDCD;
    cursor: not-allowed;
}
.odd { background-color: #F4F6F9; }
.even { background-color: #ffffff; }
.table>tbody+tbody {
    border-top: none !important; 
}
.subcalStart {
    /*padding: 30px;*/
    border-right: 2px solid #D9D9D9;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 25px;
}

.subCalstartEnd {
    padding-top: 10px;
    font-size: 12px;
    color: #3A4F5A;
    padding-bottom: 15px;
}

.subCalWrapper {
    text-align: center;
    padding-bottom: 20px;
}

.subCalleftRightPadding {
    padding-left: 25px;
    padding-right: 25px;
    color: #25B4FF;
    font-size: 12px;
}

.subCalJan {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding: 15px;
    color: #25B4FF;
}

.subCalFeb {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding: 15px;
    color: #25B4FF;
}

.subCalMar {
    /*border: 1px solid #E2E2E2;*/
    text-align: center;
    padding: 15px;
    color: #25B4FF;
}

.subCalOth {
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding: 15px;
    color: #25B4FF;
}

.subCalOth1 {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 15px;
    border-top: none;
    color: #25B4FF;
}

.subSaveWrapper {
    margin-top: 40px;
    padding-bottom: 15px;
}

.subCalRowWrap {
    padding-right: 10px;
    border: 1px solid #E2E2E2;
    padding-right: 0px;
}


.subCalEndWrapper {
    /*padding: 30px;*/
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    
}

.popover {
    min-width: 275px !important;
    left: -25px !important;
    /*width:456px;*/
}

    .popover.top > .arrow {
        left: 65%;
    }

    .popover.bottom > .arrow {
        left: 65%;
    }

.padLeft8 {
    padding-left: 10px;
}

.purpleBG {
    background-color: #743C97;
}

.dBlueBG {
    background-color: #297dfd;
}


.padLeft15 {
    padding-left: 15px;
}

.subCrtMB {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.marLeft10 {
    margin-left: 10px;
}

.HeadingCharcoal {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #3A4F5A;
}



.width25 {
    width: 25%;
}

.width15 {
    width: 15px;
}

.width10 {
    width: 10%;
}


.width16 {
    width: 16%;
}


.mrp-icon {
    color: #25B4FF;
    margin-right: 0px;
}

.mrp-monthdisplay {
    display: inline-block !important;
    padding: 5px 12px 5px 8px;
    /*background-color: #fff;*/
    margin-top:10px;
    cursor: pointer;
    margin-left: -8px;
}

.mrp-lowerMonth, .mrp-upperMonth {
    color: #25B4FF;
    font-size: 14px;
}

.mrp-to {
    color: #25B4FF;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 3px 5px 3px;
}

.mpr-calendar {
    display: inline-block;
    padding: 3px 3px;
    border-right: solid #DDDCDB 1px;
    color: #25B4FF;
}

    .mpr-calendar::last-child {
        border-right: none;
    }

.mpr-month {
    /*padding: 8px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.mpr-calendar h5 {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.mpr-selected {
    background: #F9FDFF;
    color: #25B4FF;
}

.mpr-month:hover {
    box-shadow: 0 0 0 1px #ddd inset;
    cursor: pointer;
}

.mpr-selected.mpr-month:hover {
    border-radius: 0px;
    box-shadow: none;
}

.mpr-calendarholder .col-xs-6 {
    max-width: 250px;
    min-width: 250px;
}

.mpr-calendarholder .col-xs-1 {
    max-width: 50px;
    min-width: 150px;
}

.mpr-calendarholder .btn-info {
    background-color: red;
    border-color: #406670;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.mpr-quickset {
    color: #25B4FF;
    text-transform: uppercase;
    text-align: center;
}

.mpr-yeardown, .mpr-yearup {
    margin-left: 5px;
    cursor: pointer;
    color: #666;
}

.mpr-yeardown {
    float: left;
}

.mpr-yearup {
    float: right;
}

    .mpr-yeardown:hover, .mpr-yearup:hover {
        color: #25B4FF;
    }



.popover {
    max-width: 1920px !important;
    margin-left: 155px !important;
}




.subNormSmall {
    color: #3A4F5A;
    font-size: 12px;
}





.SubTextGrey {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    color: rgb(153, 153, 153);
}


.ligtGreyLine {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    width: 95%;
    margin-left: 10px;
}


.marBottom10 {
    margin-bottom: 10px;
}

.marLeft3 {
    margin-left: 3px;
}

.marTopm25 {
    margin-top: -25px;
}


.subEditIcon {
    color: #25B4FF;
    margin-left: 15px;
    font-size: 16px;
}

.marTopM5 {
    margin-top: -5px;
}


.marTop5 {
    margin-top: 5px;
}


.popover.bottom .arrow {
    visibility: hidden;
}



.marLeftm10 {
    margin-left: -10px;
}


.subGlyDel {
    color: #FB4F39;
    margin-right: 5px;
}




.table-borderlessSub tbody tr td,
.table-borderlessSub thead tr td,
.table-borderlessSub tfoot tr th,
.table-borderlessSub tfoot tr td {
    border: none;
    padding-left: 0px;
    margin-left: 10px;
}



.subTable {
    color: #3A4F5A;
    width: 95%;
}

.padLeft30 {
    padding-left: 30px;
}


.width60 {
    width: 60%;
}

.width35 {
    width: 35%;
}

.width5 {
    width: 5%;
}

.table-stripedSub > tbody > tr:nth-child(2n+2) > td, .table-stripedSub > tbody > tr:nth-child(2n+2) > th {
    background-color: #F4F6F9;
}


.marTop10 {
    margin-top: 10px;
}


.marTop30 {
    margin-top: 30px;
}

.subMarketBaseTH {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #fff;
    cursor: pointer;
}

.subModalWrapper {
    margin-top: 0px;
    margin-left: 300px;
}

.mrp-monthdisplayCal {
    display: inline-block !important;
    border: solid 1px #d9d9d9;
    /*padding: 5px 12px 5px 8px;*/
    text-align:center;

    padding-top: 0px;
    /*padding-right: 12px;*/
    padding-bottom: 0px;
    /*padding-left: 8px;*/
    /*border-radius: 0px 5px 5px 0px;*/
    //background-color: #fff;
    cursor: pointer;
    margin-left: -2px;
    margin-top: -5px;
    width:34%;
    color:#25B4FF
}

.mrp-monthYeardisplay {
    display: inline-block !important;
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.selectedMonth {
    background-color: #c0e8fd;
}

.Month {
    background-color: white;
}

/*.mrp-lowerMonth, .mrp-upperMonth {
    color: #40667A;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}*/



.subModDivWrap {
    width: 60%;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.subModalAllocWrapper {
    margin-top: 100px;
    margin-left: 30%;
}

.subModAlloc {
    width: 52%;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.subaltButton {
    color: #25B4FF;
    background: none;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #25B4FF;
}


    .subaltButton:hover {
        color: #ffffff;
        background-color: #25B4FF;
    }


.width8 {
    width: 8%;
}

.noBorderTH {
    border: none;
}






.theaddarkBL tbody tr td,
.theaddarkBL thead tr td,
.theaddarkBL tfoot tr th,
.theaddarkBL tfoot tr td {
    border: none;
    padding-left: 0px;
    margin-left: 10px;
}



.marTop20 {
    margin-top: 20px;
}


.fullwidthNoBorder {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
    color: #25B4FF;
    padding-left: 30px;
}
















   