USE [EverestClientPortal]
GO
/****** Object:  Table [dbo].[BaseFilters]    Script Date: 06-Apr-17 6:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseFilters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Criteria] [nvarchar](max) NULL,
	[Values] [nvarchar](max) NULL,
	[IsEnabled] [bit] NOT NULL,
	[MarketBaseId] [int] NOT NULL,
	[IsRestrict] [bit] NULL,
	[IsBaseFilterType] [bit] NULL,
 CONSTRAINT [PK_dbo.BaseFilters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientMarketBases]    Script Date: 06-Apr-17 6:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMarketBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[MarketBaseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClientMarketBases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MarketBases]    Script Date: 06-Apr-17 6:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[DurationTo] [nvarchar](max) NULL,
	[DurationFrom] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MarketBases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaseFilters] ON 

INSERT [dbo].[BaseFilters] ([Id], [Name], [Criteria], [Values], [IsEnabled], [MarketBaseId], [IsRestrict], [IsBaseFilterType]) VALUES (1, N'BFilter1', N'ATC3', N'N02B', 1, 1, NULL, NULL)
INSERT [dbo].[BaseFilters] ([Id], [Name], [Criteria], [Values], [IsEnabled], [MarketBaseId], [IsRestrict], [IsBaseFilterType]) VALUES (2, N'BFilter2', N'Manufacturer', N'ALCON', 1, 2, NULL, NULL)
INSERT [dbo].[BaseFilters] ([Id], [Name], [Criteria], [Values], [IsEnabled], [MarketBaseId], [IsRestrict], [IsBaseFilterType]) VALUES (10, N'BFilter', N'ATC4', N'D07A0', 1, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BaseFilters] OFF
SET IDENTITY_INSERT [dbo].[ClientMarketBases] ON 

INSERT [dbo].[ClientMarketBases] ([Id], [ClientId], [MarketBaseId]) VALUES (1, 1, 1)
INSERT [dbo].[ClientMarketBases] ([Id], [ClientId], [MarketBaseId]) VALUES (2, 1, 2)
INSERT [dbo].[ClientMarketBases] ([Id], [ClientId], [MarketBaseId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[ClientMarketBases] OFF
SET IDENTITY_INSERT [dbo].[MarketBases] ON 

INSERT [dbo].[MarketBases] ([Id], [Name], [Description], [Suffix], [DurationTo], [DurationFrom]) VALUES (1, N'ATC3 N02B', N'ATC3 N02B', NULL, NULL, NULL)
INSERT [dbo].[MarketBases] ([Id], [Name], [Description], [Suffix], [DurationTo], [DurationFrom]) VALUES (2, N'Manufacturer ALCON', N'Manufacturer ALCON', NULL, NULL, NULL)
INSERT [dbo].[MarketBases] ([Id], [Name], [Description], [Suffix], [DurationTo], [DurationFrom]) VALUES (3, N'ATC4 D07A0', N'D07A0', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MarketBases] OFF
ALTER TABLE [dbo].[BaseFilters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BaseFilters_dbo.MarketBases_MarketBaseId] FOREIGN KEY([MarketBaseId])
REFERENCES [dbo].[MarketBases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaseFilters] CHECK CONSTRAINT [FK_dbo.BaseFilters_dbo.MarketBases_MarketBaseId]
GO
