@charset "utf-8";
/* CSS Document */
.nodeHeightTable
{
	height: 40px; display: table; list-style-type: none; overflow: hidden; width:100%;
}
.greybg
{
	background-color: #EBEBEB; color:#77787B; padding-top: 9px; padding-bottom: 9px;    
}
.nodeText
{
	float: left; padding-left: 10px; padding-right: 25px; color: #8EAFBF; font-size: 14px;
}
.nodeClose
{
	float: left; padding-left: 0px; padding-right: 20px; color: #8EAFBF; font-size: 14px;
}
.clearAll
{
	clear: both;
}

div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; height: 50px; overflow:auto; width:180px}
div.tagsinput span.tag {cursor: pointer; border: 1px solid #EBEBEB; -moz-border-radius:2px; -webkit-border-radius:2px;  float: left; padding: 5px; text-decoration:none; background: #EBEBEB; color: #77787B; margin-right: 5px; margin-bottom:5px;font-family: arial;  font-size:13px;}

div.tagsinput span.tag a { font-weight: bold; color: #77787B; text-decoration:none; font-size: 11px;  } 

div.tagsinput input { margin:0px; font-family: helvetica; font-size: 13px; border:1px solid #EBEBEB; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }

/*button.cusGlyphClose{display: none;}*/
/*.PSTBNewAuto:hover .cusGlyphClose{display: block}*/

.filter-container{
	width: 100%!important;
	border:1px solid #CCC;
	padding: 5px;
	min-height: 40px!important;
	max-height: 100px!important;
	overflow-y: scroll!important;
}
.PSTBNewAuto{
	width: 100%!important;
	border:1px solid #85b7d9;
	background-color: #f8ffff;
}
.flagging, .branding, .custom-selectNwFil select{
	z-index: 0 !important;
}
.disabled-content{
	pointer-events: none;
	cursor: not-allowed;
    background-color: #CFCDCD !important;
    color:#77787B;
}